@import "tailwindcss";

/* media query for sidebar  */
@media (min-width: 320px) and (max-width: 1023px) {
  #sideNavbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    transition: width 2s, height 2s, background-color 2s, rotate 2s, 300ms,
      ease-in-out;
  }
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  width: 35% !important;
}
